{% extends "base.html" %}

{% block title %}Lista empleados{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ url_base }}/css/addons/datatables.min.css" type="text/css">
<link rel="stylesheet" href="{{ url_base }}/css/addons/bt4-datatables.min.css" type="text/css">
<link rel="stylesheet" href="{{ url_base }}/css/addons/bt4-responsive-datatables.min.css" type="text/css">
<link rel="stylesheet" href="{{ url_base }}/css/addons/bt4-buttons-datatables.min.css" type="text/css">

{% endblock %}

{% block body %}
<a href="javascript:void(0);" class="btn-float hoverable">
    <i class="fa fa-bars my-float"></i>
</a>
<ul class="ul-share">
    <li><small class="label-float hoverable">Registrar un empleado</small>
        <a href="{{ url_base }}/empleados/create" class="bg-color-gradient-success hoverable">
            <i class="fas fa-plus my-float"></i>
        </a></li>

</ul>
<div class="container-fluid">


    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-12">

            <!--Card-->
            <div class="card hoverable" style="padding: 20px;">
                <!--Card content-->
                <div class="d-sm-flex justify-content-between">
                    <h5 class="d-flex justify-content-start">
                        <span><i class="fas fa-user-tie fa-lg mr-1"></i>
                            {% if empleados|length == 1 %}
                            Un empleado
                            {% elseif empleados|length > 1 %}
                            {{ empleados|length }} empleados
                            {% else %}
                            No hay empleados
                            {% endif %}
                        </span>
                    </h5>
                    <div class="d-flex justify-content-center">
                        <button class="btn-card-show btn btn-outline-danger btn-circle waves-effect hoverable"
                            data-toggle="tooltip" data-placement="bottom" title="Mostrar/Ocultar">
                            <i class="far fa-2x fa-eye-slash"></i>
                        </button>
                        <button class="btn-card-fullscreen btn btn-outline-secondary btn-circle waves-effect hoverable"
                            data-toggle="tooltip" data-placement="bottom" title="Pantalla Completa">
                            <i class="fas fa-2x fa-expand"></i>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="card-content">

                    <div class="table-responsive">
                        <!-- Table  -->
                        <table id="dtempleados" class="table table-borderless table-hover display dt-responsive nowrap"
                            cellspacing="0" width="100%">
                            <thead class="bg-color-gradient-primary white-text">
                                <tr class="z-depth-2">
                                    <th class="th-sm">#
                                    </th>
                                    <th class="th-sm">Nombre
                                    </th>
                                    <th class="th-sm">Email
                                    </th>
                                    <th class="th-sm">Sexo
                                    </th>
                                    <th class="th-sm">Area
                                    </th>

                                    <th class="th-sm">Acciones
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for empleado in empleados %}
                                <tr class="hoverable">
                                    <td>{{ empleado.id }}</td>


                                    <td>
                                        {{ empleado.nombre }}
                                    </td>
                                    <td>
                                        {{ empleado.email }}
                                    </td>

                                    <td>
                                        
                                        {% if empleado.sexo == 'F' %}
                                        Femenino
                                        {% else %}
                                        Masculino
                                        {% endif %}
                                    </td>

                                    <td>
                                        {{ empleado.area }}
                                    </td>
                                    <td>

                                        <a href="{{ url_base }}/empleados/{{ empleado.id }}/edit" class="text-warning m-1" data-toggle="tooltip"
                                            data-placement="bottom" title='Editar el empleado "{{ empleado.nombre }}"'>
                                            <i class="fas fa-2x fa-pencil-alt"></i>
                                        </a>

                                        <a onclick="eliminar_empleado('{{ empleado.id }}','{{ empleado.nombre }}','{{ url_base }}')"
                                            class="text-danger m-1" data-toggle="tooltip" data-placement="bottom"
                                            title='Eliminar el empleado "{{ empleado.nombre }}"'>
                                            <i class="fas fa-2x fa-trash-alt"></i>
                                        </a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Table  -->
                    </div>
                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->


</div>
{% endblock %}

{% block js %}
<!-- DataTables core JavaScript -->
<script type="text/javascript" src="{{ url_base }}/js/addons/moment.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/datatables.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/bt4-datatables.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/responsive-datatables.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/bt4-responsive-datatables.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/buttons-datatables.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/bt4-buttons-datatables.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/buttons.html5.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/jszip.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/pdfmake.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/vfs_fonts.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/buttons.print.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/buttons.colVis.min.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/mark.js"></script>
<script type="text/javascript" src="{{ url_base }}/js/addons/datatables.mark.js"></script>

<script type="text/javascript">
    function eliminar_empleado(id, nombre, url) {
        Swal.fire({
            title: 'Eliminar el empleado',
            text: '¿Desea eliminar el empleado "' + nombre + '"?',
            icon: 'question',
            confirmButtonText: '<i class="fas fa-trash-alt fa-lg"></i> Eliminar',
            cancelButtonText: '<i class="fas fa-times fa-lg"></i> Cancelar',
            showCancelButton: true,
            showCloseButton: true,
            confirmButtonClass: 'btn btn-danger bg-color-gradient-danger',
            cancelButtonClass: 'btn btn-dark bg-color-gradient-primary',
            buttonsStyling: false,
            animation: false,
            customClass: 'animated zoomIn',
        }).then((result) => {
            if (result.value) {
                document.location.href = url + "/empleados/" + id + "/delete";
            } else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Operación cancelada por el usuario',
                    showConfirmButton: false,
                    toast: true,
                    animation: false,
                    customClass: 'animated lightSpeedIn',
                    timer: 3000
                })
            }
        })
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {
        var currentdate = new Date();
        moment.locale('es');
        var datetime = moment().format('DD MMMM YYYY, h-mm-ss a');
        var titulo_archivo = "Lista de empleados (" + datetime + ")";
        $('#dtempleados').DataTable({
            mark: true,
            dom: 'Bfrtip',
            lengthMenu: [
                [2, 5, 10, 20, 30, 50, 100, -1],
                ['2 registros', '5 registros', '10 registros', '20 registros', '30 registros',
                    '50 registros', '100 registros', 'Mostrar todo'
                ]
            ],
            oLanguage: {
                sProcessing: 'Procesando...',
                sLengthMenu: 'Mostrar _MENU_ registros',
                sZeroRecords: 'No se encontraron resultados',
                sEmptyTable: 'Ningún dato disponible en esta tabla',
                sInfo: 'Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros',
                sInfoEmpty: 'Mostrando registros del 0 al 0 de un total de 0 registros',
                sInfoFiltered: '(filtrado de un total de _MAX_ registros)',
                sInfoPostFix: '',
                sSearch: '<i class="fas fa-search fa-lg"></i>',
                sUrl: '',
                sInfoThousands: ',',
                sLoadingRecords: 'Cargando...',
                oPaginate: {
                    sFirst: 'Primero',
                    sLast: 'Último',
                    sNext: 'Siguiente',
                    sPrevious: 'Anterior'
                },
                oAria: {
                    sSortAscending: ': Activar para ordenar la columna de manera ascendente',
                    sSortDescending: ': Activar para ordenar la columna de manera descendente'
                }
            },
            buttons: [

                {
                    extend: 'collection',
                    text: '<i class="fas fa-2x fa-cog fa-spin"></i>',
                    titleAttr: 'Opciones',
                    buttons: [{
                            extend: 'copyHtml5',
                            text: '<i class="fas fa-copy"></i> Copiar',
                            titleAttr: 'Copiar',
                            title: titulo_archivo
                        },
                        {
                            extend: 'print',
                            text: '<i class="fas fa-print"></i> Imprimir',
                            titleAttr: 'Imprimir',
                            title: titulo_archivo
                        },
                        {
                            extend: 'collection',
                            text: '<i class="fas fa-cloud-download-alt"></i> Exportar',
                            titleAttr: 'Exportar',
                            buttons: [{
                                    extend: 'csvHtml5',
                                    text: '<i class="fas fa-file-csv"></i> Csv',
                                    titleAttr: 'Csv',
                                    title: titulo_archivo
                                },
                                {
                                    extend: 'excelHtml5',
                                    text: '<i class="fas fa-file-excel"></i> Excel',
                                    titleAttr: 'Excel',
                                    title: titulo_archivo
                                },
                                {
                                    extend: 'pdfHtml5',
                                    text: '<i class="fas fa-file-pdf"></i> Pdf',
                                    titleAttr: 'Pdf',
                                    title: titulo_archivo
                                }
                            ]
                        },

                        {
                            extend: 'colvis',
                            text: '<i class="fas fa-low-vision"></i> Ver/Ocultar',
                            titleAttr: 'Ver/Ocultar',
                        }

                    ]
                },
                'pageLength'
            ],
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal({
                        header: function (row) {
                            var data = row.data();
                            return '<i class="fas fa-user-tie fa-lg"></i> Datos del empleado "' +
                                data[1] + '"';
                        }
                    }),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                        tableClass: 'table'
                    })
                }
            }
        });


        $('.dataTables_length').addClass('bs-select');
        $('.dataTables_filter label input').attr("placeholder", "Buscar");
        $('.dataTables_filter label input').hide(0);
    });
</script>
{% endblock %}